body{
	background-color: pink;
	font-family: arial;
	font-size:  14px;
}

#container{
	width: 650px;
	margin: auto;
	border: 1px solid #cccccc;
	padding: 0 20px 20px 20px;
	border-radius: 10px;
	background: #ffffff;
	min-height: 480px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
th {
	height: 100px;
	width: 150px;
}
td {
	height: 100px;
}

ul {
	list-style-type: none;
}

ul li:before {
		content: '\2713\0020';
}
	
